<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App | NER</title>
</head>
<body>
    <h1>Welcome to NER</h1>
    <form action="/perform_ner" model="post">
        <label>Please enter your text</label><br>
        <textarea name="text_input"></textarea><br>
        <label>Please enter the entity</label><br>
        <input type="text" name="entity_text"><br>
        <input type="submit" value="Launch"><br>
    </form>

<p><a href="/">Logout</a></p>

</body>
</html>